canvas {
  background: #EEEEEE;
  border: 1px solid black;
}

/* Prevent dragging and selection */
image, canvas {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  border-radius: 5px;
}

.key {
  border: 1px solid blue;
  background-color: white;
}

.keyboard {
  display: flex;
  background-color: white;
  border: 1px solid black;
  height: 150px;
}

.white-key {
  width: 50px;
  border-right: 1px solid black;
}

.white-key:hover {
  background-color: #F9F9F9;
}
